@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.carousel-caption {
  position: absolute;
  top: 32%;
  bottom: 50%;
}
#mouse {
  position: absolute;
  top: 600px;
}
.container {
  text-align: center;
}
.text-div {
  text-align: center;
  z-index: 1;
  color: white;
  margin-top: -350px;
  margin-left: 425px;
}

@media screen and (max-width: 1370px) {
  .text-div {
    margin-top: -125px;
    font-size: x-small;
  }
}
