@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.container-fluid {
  text-align: center;
}
.container {
  text-align: center;
}
.text-div1 {
  text-align: center;
  z-index: 1;
  color: white;
  margin-top: -650px;
  margin-left: 620px;
}
#mouse {
  top: 100%;
}
.text-div2 {
  text-align: center;
  z-index: 1;
  color: white;
  margin-top: -350px;
  margin-left: 400px;
}
.click-show1,
.click-show2,
.click-show3 {
  display: none;
}
.clickable1,
.clickable2,
.clickable3 {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}
#ui {
  padding: 30px;
  color: white;
  margin-left: 30%;
}
.input-field {
  background-color: transparent;
  border-color: white;
  color: white;
}
::placeholder {
  color: white;
}
#icon {
  padding-left: 25px;
}
@media screen and (max-width: 1175px) {
  #mouse {
    display: none;
  }
  .mobile-br {
    display: none;
  }
  .text-div1 h1 {
    font-size: medium;
  }
  .text-div1 {
    font-size: medium;
    margin-top: -230px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 1365px) {
  .text-div2 h1 {
    font-size: x-small;
  }
  .text-div2 {
    font-size: x-small;
    margin-top: -100px;
    margin-left: -5px;
    opacity: 0.9;
  }
  .text-div2 p {
    display: inline;
  }
}
@media screen and (max-width: 1012px) {
  #email,
  #name {
    max-width: 70%;
    margin-left: -300px;
  }
  #ui textarea {
    max-width: 50%;
    margin-left: -300px;
  }
  #submitmsg {
    margin-left: -300px;
  }

  #ui h2 {
    font-size: medium;
  }
}
