@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.container {
  text-align: center;
}
.text-div1 {
  text-align: center;
  z-index: 1;
  color: white;
  margin-top: -650px;
  margin-left: 700px;
}
#mouse {
  top: 100%;
}
.text-div2 {
  text-align: center;
  z-index: 1;
  color: white;
  margin-top: -350px;
  margin-left: 450px;
}
.click-show1,
.click-show2,
.click-show3 {
  display: none;
}
.clickable1,
.clickable2,
.clickable3 {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}
